.App-header {
  color: #007cc3;
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #007cc3;
  height: 60px;
}
